<!-- Ksa_tourist_guide/apps/templates/touristSpotModule/spotList.html -->
{% extends "layouts/base.html" %}

{% block content %}
{% block stylesheets %}

{% endblock stylesheets %}
<h1>Tourist Spot List</h1>
<a href="{% url 'add_spot' %}">Add New Spot</a>
<table class="spot-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for spot in spots %}
        <tr>
            <td>{{ spot.id }}</td>
            <td><a href="/spot/{{ spot.id }}">{{ spot.name }}</a></td>
            <td>{{ spot.city }}</td>
            <td>{{ spot.description }}</td>
            <td>

                <a href="{% url 'edit_spot' spot.id %}" id="edit-btn">Edit</a>

            </td>
            <td>

                <form method="POST" action="{% url 'delete_spot' spot.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button id="rm-btn" type="submit">Delete</button>
                </form>
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}